header(class="header")
    div(class="container")
        div(class="navlogo")

            a(href="/" class="logo")

            nav(class="navbar")
                ul(class="navmenu")
                    li
                        a(href="/") Find a student
                    li
                        a(href="") Statistics
                        ul(class="subnavmenu")
                            li
                                a(href="") Lectors
                            li
                                a(href="") Disciplines

        ul(class="menu")
            li
                a(href="/") Menu
                ul(class="submenu")
                    li
                        a(href="") My Profile
                    li
                        a(href="") Settings
                    if isAdmin
                        li
                            a(href="/administration") Administration
                    li
                        a(href="/auth/logout") Выход