doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="../stylesheets/styles.css")
        link(rel="stylesheet" href="../stylesheets/jquery-ui.min.css")
        link(rel="stylesheet" href="../stylesheets/jquery-ui.theme.min.css")
        script(src="../javascripts/jquery.min.js")
        script(src="../javascripts/scripts.js")
        //- script(src="node_modules/jquery-ui-dist/external/jquery/jquery.js")
        script(src="../javascripts/jquery-ui.min.js")
        block body